<h1> See Your Created User Here! </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2> Username: <%= @user.username %> </h2>
    <h2> Email: <%= @user.email %> </h2>
  </div>
</div>